{%extends 'base.html'%}
{%block content%}

    {%if messages%}
    {%for m in messages%}
    <div style="color: red;">
        <strong>{{m.message}}</strong>
    </div>
    {%endfor%}
    {%endif%}

    {%if o.image%}
    <p><img src="{{o.image.url}}" alt="" width="50" height="50"></p>
    {%endif%}
    <h1>{{o.name}}</h1>
    <h3>{{o.snum}}</h3>
    <p>{{o.dept}}</p>
    <p>{{o.time}}</p>
    1.지원동기 <br>
    <p>{{o.motive}}</p>
    2. 만들고 싶은 서비스 <br>
    <p>{{o.service}}</p>
    3. 장단점 <br>
    <p>{{o.saw}}</p>
    4. 포부 <br>
    <p>{{o.aspire}}</p>

    <a href="{%url 'urlhome'%}">돌아가기</a>
    <a href="{%url 'urledit' o.id%}">수정하기</a>
    <a href="{%url 'urldelete' o.id%}">삭제하기</a>
  
    <hr>  

{%endblock%}
