{%extends 'base.html'%}
{%block content%}
    <form action="{%url 'urlupdate' e.id%}" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        첨부파일 <br>
        <input type="file" name="uimage" id=""><br>
        이름 <br>
        <input type="text" name="uname" id="uname" value="{{e.name}}" readonly="readonly"><br>
        학번 <br>
        <input type="text" name="usnum" id="usnum" value="{{e.snum}}" readonly="readonly"><br>
        학과 <br>
        <input type="text" name="udept" id="udept" value="{{e.dept}}" readonly="readonly"><br>
        지원동기 <br>
        <textarea name="umotive" id="umotive" cols="30" rows="10">{{e.motive}}</textarea><br>
        만들고 싶은 서비스 <br>
        <textarea name="uservice" id="uservice" cols="30" rows="10">{{e.service}}</textarea><br>
        장단점 <br>
        <textarea name="usaw" id="usaw" cols="30" rows="10">{{e.saw}}</textarea><br>
        포부 <br>
        <textarea name="uaspire" id="uaspire" cols="30" rows="10">{{e.aspire}}</textarea><br>
        <button type="submit">submit</button>

    </form>
{%endblock%}