{%extends 'base.html'%}
{%block content%}
<br>
<h6>현재까지 제출된 지원서는 총 <span style="color: red;">{{count}}</span>개입니다!</h6>
<h1><a href="{%url 'urlnew'%}" type="button" class="btn btn"
        style="border-color: darkorange; color: darkorange;">지원하기</a></h1><br>

{%if user.is_staff%}

    {%for a in ablog%}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{a.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{a.snum}}</h6>
            <h6>{{a.dept}}</h6>
            <p class="card-text">{{a.time}}</p>
            <a href="{%url 'urldetail' a.id %}">more</a>
        </div>
    </div>
    <br>
    {%endfor%}

{%elif user.is_authenticated%}

    {%for a in ablog%}

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                {%if user.student_id == a.snum%}
                <h5 class="card-title"><a href="{%url 'urldetail' a.id%}">{{a.name}}</a></h5>
                <h6 class="card-subtitle mb-2 text-muted">{{a.snum}}</h6>
                {%else%}
                <h5 class="card-title">예비사자</h5>
                {%endif%}
                <h6 class="card-subtitle mb-2 text-muted">{{a.dept}}</h6>
                <p class="card-text">{{a.time}}</p>

            </div>
        </div>
        <br>
    {%endfor%}
{%endif%}
{%endblock%}